<!--User form loads data on submission-->
<form [formGroup]="userProfileForm" (ngSubmit)="formSubmit()">
<label>First Name: 
<input type="text"  formControlName="firstName"  required/>
</label>
<label>Last Name: 
<input type="text" formControlName="lastName" required/>
</label>
<div formGroupName ="address">
<label>Street: 
<input type="text" formControlName="street" required/>
</label>
<label>City: 
<input type="text" formControlName="city"  required/>
</label>
<label>State: 
<input type="text" formControlName="state"  required/>
</label>
<label>Pin code: 
<input type="text" formControlName="pinCode" required/>
</label>
</div>
<button type="submit" [disabled]="!userProfileForm.valid">Submit</button>
<button type="button" (click)="userProfileForm.reset()">New User</button>  <!--Reseting the user form-->
</form>
<!--User table loading the user data-->
<div class="dataTable">
<table class="userTable">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Street</th>
<th>city</th>
<th>State</th>
<th>Pin Code</th>
</tr>
<tr *ngFor="let user of userProfileData">
<td>{{user.firstName}}</td>
<td>{{user.lastName}}</td>
<td>{{user.address.street}}</td>
<td>{{user.address.city}}</td>
<td>{{user.address.state}}</td>
<td>{{user.address.pinCode}}</td>
</tr>
</table>
</div>




